// SCSS or Sassy CSS ia a preprocessor scripting language that is interpreted or compiled into CSS. It is more advanced version of the original Sass Syntax.
//Goal is to make css easier to write and maintain


//IN SCSS Variables are declared using the $ symbol.
$primaryFont : Helvetica;
$primary : red;


//Variables can be override.
// Global Scope
$primary-color: #3498db;
$secondary-color: #2ecc71;
$text-color: #333;
$font-size: 16px / 2;

@import 'mixin';

.size{
   font-size: $font-size;
}
.button {
  @include button-style(#000,#fff);
}

$font-siz: (
  "mobile": 10px,
  "tablet": 20px,
  "desktop": 30px
);

// h1 {
//   color: $primary-color;
//   font-size: map-get($font-siz, "mobile");
// }

//map

