.product-Name{
    font-size: 24px;
    font-weight: bold;
}
.product-desc{
    font-style: italic;
    text-align: justify;
}
.product-detailed-desc{
        background-color: rgb(186, 204, 237);
        color: blue;
        line-height: 1.8;
        text-align: justify;
        text-emphasis: none;
}