h1{
    color: red;
    font-size: 36px;
    text-align: center;
    

}
body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;

}
h2{
    font-size: 28px;
    text-align: left;
}
p{
    font-size:16px;
    line-height: 1.5;

}
blockquote{
    font-style: italic;
}
h1,h2{
    text-decoration: underline;

}
.post-content{
    background-color: aliceblue;
    padding:10px;
    
}
